@media (max-width: 991px) {
	.banner {
		height: 200px;
	}
	.banner h2 {
		font-size: 2rem;
	}
	.form-control {
		width: 250px !important;
	}
}

@media (max-width: 767px) {
	.form-inline, .contact-btn, .checkout-btn, .product-price {
		margin-top: 1rem;
	}
	.cart-btn {
		margin-top: .5rem;
	}
	.cart-btn, .contact-btn {
		margin-right: 0 !important;
	}
	.checkout-btn {
		width: 200px;
	}
	.checkout-btn, .form-inline {
		align-self: center;
	}
	.card-deck {
		justify-content: center;
	}
	.contact-btn {
		padding-right: 6px !important;
	}
}
