<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
		<link rel="manifest" href="images/favicons/manifest.json">
    <!-- Open Graph info -->
    <meta name="Description" content="One stop shop for Juracapresso machines!">
    <meta name="Keywords" content="jura, capresso, coffee, juracapresso, espresso, mocha, latte, tools">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Juracapresso Doctor" />
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="One stop shop for Juracapresso machines!" />
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://juracapressodoctor.com/" />
    <meta property="og:image" content="https://juracapressodoctor.com/images/juracapresso-doctor-logo.jpg" />
    <meta property="og:image:secure_url" content="https://juracapressodoctor.com/images/juracapresso-doctor-logo.jpg">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="image/jpg" />
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
    <title>Juracapresso Doctor</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- BEGIN BMT Micro Shopping Cart -->
		<script src="https://secure.bmtmicro.com/bmt_cart.js"></script>
		<link rel="stylesheet" href="https://secure.bmtmicro.com/bmt_cart.css" />
		<!-- END BMT Micro Shopping Cart -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZL5LC9DP6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VZL5LC9DP6');
    </script>
  </head>
  <body>
    <div class="wrapper" ng-app="fullApp" ng-controller="appCtrl">
	    <nav class="fixed-top navbar navbar-light navbar-expand-md">
      	<div class="container">
        	<div class="navbar-brand" ng-init="logo = 'images/juracapresso-doctor-logo.png'">
            <img ng-src="{{logo}}" alt="Juracapresso Doctor logo" height="40">
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
						<ul class="navbar-nav mx-auto mt-lg-0">
							<form class="form-inline" action="#">
	              <div class="input-group">
	                <input class="form-control" type="text" placeholder="Search" aria-label="Search" ng-model="result">
	                <button class="form-btn pl-2 pr-2" type="button" disabled>
	                  <i class="bi-search"></i>
	                </button>
	              </div>
	            </form>
						</ul>
						<ul class="navbar-nav mt-lg-0">
              <button type="button" class="contact-btn pr-0 mr-3" title="Contact Us!">
                <a href="mailto:">
                  <i class="bi bi-envelope"></i>
                </a>
              </button>
							<button class="cart-btn mr-3" id="buybutton" type="button" onclick="bmt_showcart(3);" title="View Cart">
	              <i class="bi bi-cart3"></i>
	            </button>
							<button type="button" id="buybutton" onclick="bmt_showcart(3, true);" class="checkout-btn" title="Go to Checkout">
	              Checkout
	            </button>
	          </ul>
				  </div> <!-- /.collapse navbar-collapse -->
        </div> <!-- /.container -->
      </nav>
      <section class="intro-banner container-fluid" id="primary">
        <div class="banner row align-items-center">
          <div class="col-12">
            <h2 class="text-center">One stop shop for your Juracapresso machine</h2>
          </div>
        </div>
      </section>
      <div class="container page-content">
        <div class="row justify-content-center mb-5">
          <div class="col-12">
            <h2 class="text-center mb-5">Products</h2>
            <div class="card-deck">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 d-flex mb-5" ng-repeat="x in productCardInfo | filter : result">
                <div class="card">
    <!-- Check the <a> for GitHub/local tests before pushing -->
                	<a class="text-center modal-div" ng-href="https://jeffberlin.github.io/Juracapresso-Doctor/products/product-{{x.productid}}.html">
                    <img class="img-fluid" ng-src="{{x.imageOne}}" alt="{{x.altText}}">
                  </a>
                  <div class="card-body">
  	<!-- Check the <a> for GitHub/local tests before pushing -->
                  	<a class="modal-div" ng-href="https://jeffberlin.github.io/Juracapresso-Doctor/products/product-{{x.productid}}.html">
                      <h5 class="card-title">{{x.title}}</h5>
                      <p class="card-text mb-3"><em>${{x.price}}</em></p>
                    </a>
                    <button type="button" name="button" class="card-buy-btn" id="buybutton" ng-click="bmtAddToCart(x.productid);">Add to Cart</button>
                  </div>
                </div> <!-- /.card -->
              </div>
            </div> <!-- /.card-deck -->
          </div> <!-- /.col-12 -->
        </div> <!-- /.row .justify-content-center -->
      </div> <!-- /.container -->
      <div id="topcontrol" title="Scroll to top" style="display: none;">
      	<svg xmlns="http://www.w3.org/2000/svg" class="scrollup-svg-icon" width="32" height="32" viewBox="0 0 24 24">
	        <path d="M12 2q0.4 0 0.7 0.3l7 7q0.3 0.3 0.3 0.7 0 0.4-0.3 0.7t-0.7 0.3q-0.4 0-0.7-0.3l-5.3-5.3v15.6q0 0.4-0.3 0.7t-0.7 0.3-0.7-0.3-0.3-0.7v-15.6l-5.3 5.3q-0.3 0.3-0.7 0.3-0.4 0-0.7-0.3t-0.3-0.7q0-0.4 0.3-0.7l7-7q0.3-0.3 0.7-0.3z"></path>
	      </svg>
      </div>
    </div> <!-- /.wrapper -->
    <footer class="text-center w-100 p-5">
      <span>&copy; Juracapresso Doctor <script>document.write(new Date().getFullYear())</script></span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>
